.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.head h1 {
  color: red;
  text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: aqua;
    border-radius: 5px;
    margin: 10px;
}

.form input {
  width: 90%;
  height: 30px;
  font-size: 20px;
  margin: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.button button {
  background-color: yellow;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}
.button button:hover{
  cursor: pointer;
}
