/* Reset some default styles for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  background: #3498db;
}

/* General Styles for the Navbar */
.navbar {
  width: 100%;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px 20px;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-icon {
  font-size: 24px;
  color: #ecf0f1;
  cursor: pointer;
  display: none;
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: #3498db;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.navbar-link {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #3498db;
}

/* --------HOME-CONTAINER STYLING */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background: #3498db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-top: 70px;
}

.home-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 20px;
}

.container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/*------REGISTER STYLING-------*/

.reg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  padding-top: 70px;
  background: #3498db;
}
.reg-container h1 {
  margin-top: 20vh;
  margin-top: 10vh;
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 20px;
}
form {
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 90%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 5px;

}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2980b9;
}

/* App.css or Display.module.css */

.student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 70px;
  box-sizing: border-box;
}

.student-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.student-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  align-items: center;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.student-card h3 {
  margin: 8px 10px;
  text-align: center;
  font-size: 1.1em;
  color: #666;
}


/*-------RESPONSIVE STYLING */

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #2c3e50;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  .nav-menu.active {
    transform: translateX(0);
  }
  .nav-item {
    margin: 15px 0;
    text-align: center;
  }
  .navbar-link {
    font-size: 18px;
  }
  .home-header {
    font-size: 2rem;
    /* Slightly smaller font size on small screens */
  }

  .container {
    padding: 15px;
  }

  .reg-container {
    padding: 15px;
  }

  .reg-container h1 {
    font-size: 1.5rem;
    /* Slightly smaller font size on small screens */
  }

  input {
    font-size: 14px;
    /* Smaller font size for inputs on small screens */
  }

  button {
    font-size: 14px;
    /* Smaller font size for button on small screens */
  }
}

@media (max-width:680px) {
  .student-card {
    display: grid;
  }

  .student-card h3 {
    margin: 2px;
  }
}




